<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.nie.expensemanager"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="edu.nie.expensemanager.permission.READ_USER_DICTIONARY"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".browse.BrowseExpenseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".editor.ExpenseEditorActivity"/>

        <provider
            android:authorities="edu.nie.expensemanager"
            android:name="edu.nie.expensemanager.provider.ExpenseProvider"
            android:exported="false"/>

    </application>

</manifest>